:root {
  --primary: #d75656;
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  float: right;
  
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 2000px; */  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #a34141;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-icon{
  margin-left: -260px;
}

.navbar .navbar-icon a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-icon a:hover {
  color: var(--primary);
}

.dropbtn {
  background-color: #000000;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin: 0 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  color: #ffffff;
  display: none;
  position: absolute;
  background-color: #000000;
  width: 235px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000000;}

.dropdown:hover .dropdown-content {display: block; color: var(--primary);}

.dropdown:hover .dropbtn {background-color: #000000; color: var(--primary);}

#menu {
  display: none;
}

.search-container {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;  
	vertical-align: bottom;
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
  margin-top: 10px;
  margin-right: 1px;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 1px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 300px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.search-container:hover{
  color: var(--primary);
}

.expandright {
	left: auto;
	right: 1px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

/* Ini section banner */
.banner {
  min-height: 120vh;
  display: flex;
  width: 35%;
  align-items: center;
  position: absolute;
}

.banner .konten {
  padding: 1.4rem 5%;
  max-width: 100%;
}

.banner .konten h1 {
  font-size: 6rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgb(1, 1, 1, 0.5);
  line-height: 1;
}

.banner .konten h1 span {
  color: var(--primary);
}

.banner .konten p {
  font-size: 3rem;
  margin-top: 2rem;
  color: rgb(220, 248, 6);
  line-height: 3rem;
  font-weight: 50rem;
  text-shadow: 1px 1px 3px rgb(1, 1, 1, 0.5);
}

.banner .konten .menu {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: var(--primary);
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px rgba(208, 4, 4, 0.922);
}

 
.banner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
}

.about{
    padding: 8rem 7%;  
    background-image: url(/image/3.jpg);
    background-size: 140%;
  }
  
  .about p{
    margin-left: 1rem;
    margin-bottom: 1rem;    
    font-size: 1.4rem;
  }

  .about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  .about h2 span{
    color: var(--primary);
  }
  
  .about .row {
    display: flex;
  }
  
  .about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
  }
  
  .about .row .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about .row .content p {
    width: 55%;  
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6rem;
  }
  
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(0, 0, 0);
    width: 12rem;
    height: 50vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
}


/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
    
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(0, 0, 0);
    width: 30rem;
    height: 50vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
}
